<template>
  <div class="game" key="easy">
      <div class="row controls">
          <div class="indicator">Puntaje: {{ points }}</div>
          <div class="indicator">Flags: {{ getFlags() }}</div>
          <div class="indicator pull-right" @click="start">Reiniciar</div>
          <router-link to="/"><div class="indicator pull-right">Atras</div></router-link>
      </div>
      <div class="row" style="height:70%;">
          <div class="platform">
              <div class="row" v-for="(row,x) in game" :key="x" style="height:12.5%;">
                  <div v-for="(box,y) in row" :key="x+y" :class="[getStyle(box),'box']" @click.right.prevent="rightClick(x,y)" @click.left="leftClick(x,y)">
                      <p class="counter">{{ getMinas(x,y) }}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
<script>
export default {
  data(){
      return {
          game:[],
          status:{closed:0,opened:1,flag:2,dude:3,mine:4},
          minas:[],
          logic:[[1,2],[1,1],[2,3],[1,0],[4,4]],
          points:0,
      }
  },
  methods:{
      start:function(){
          this.game=[];
          for (let x = 0; x < 8; x++) {
              this.game[x]=[];
              for (let y = 0; y < 8; y++) {
                this.game[x][y]=this.status.closed;
              }
          }
          this.cleanMinas();
      },
      cleanMinas:function(){
          this.minas=[];
          for (let x = 0; x < 8; x++) {
              this.minas[x]=[];
              for (let y = 0; y < 8; y++) {
                this.minas[x][y]=this.status.closed;
              }
          }

          for (let index = 0; index < 10; index++) {
              this.putMina();
          }
          
          
      },
      putMina:function(){
          let x=this.randomize();
          let y=this.randomize();
          if(this.minas[x][y]==0){
              this.minas[x][y]=1;
          }
          else{
              this.putMina();
          }
      },
      randomize:function(){
          let ran=parseInt(Math.random() * (8 - 0) + 0);
          return ran;
      },
      getStyle:function(status){
        switch (status) {
            case 0:
                return 'box-closed';
                break;
            case 1:
                return 'box-opened';
                break;
            case 2:
                return 'box-flag';
                break;
            case 3:
                return 'box-dude';
                break;
            case 4:
                return 'box-mina';
                break;
          }
      },
      rightClick:function(x,y){
          let status=this.game[x][y];
          status=this.logic[status][1];
          this.game[x][y]=status;
          console.log('Right click: '+x+':'+y+'->'+status);
          this.$forceUpdate();
      },
      leftClick:function(x,y){
        let status=this.game[x][y];
        status=this.logic[status][0];
        if(status==1 && this.minas[x][y]==1){
            status=4;
            this.endGame();
        }
        else if(status==1){
            this.points++;
            if(this.points==54){
                window.alert('Has ganado!!');
                this.$router.push("/endgame/Ganaste el juego");
            }
        }
        this.game[x][y]=status;
        if(status=1 && this.getMinas(x,y)==0){
            if(x!=0 && y!=0 && this.game[x-1][y-1]!=1 && this.game[x-1][y-1]!=4 && this.minas[x-1][y-1]!=1)
                this.leftClick(x-1,y-1);
            if(y!=0 && this.game[x][y-1]!=1 && this.game[x][y-1]!=4 && this.minas[x][y-1]!=1)
                this.leftClick(x,y-1);
            if(x!=7 && y!=0 && this.game[x+1][y-1]!=1 && this.game[x+1][y-1]!=4 && this.minas[x+1][y-1]!=1)
                this.leftClick(x+1,y-1);
            if(x!=0 && this.game[x-1][y]!=1 && this.game[x-1][y]!=4 && this.minas[x-1][y]!=1)
                this.leftClick(x-1,y);
            
            if(x!=7 && this.game[x+1][y]!=1 && this.game[x+1][y]!=4 && this.minas[x+1][y]!=1)
                this.leftClick(x+1,y);
            if(x!=0 && y!=7 && this.game[x-1][y+1]!=1 && this.game[x-1][y+1]!=4 && this.minas[x-1][y+1]!=1)
                this.leftClick(x-1,y+1);
            if(y!=7 && this.game[x][y+1]!=1 && this.game[x][y+1]!=4 && this.minas[x][y+1]!=1)
                this.leftClick(x,y+1);
            if(x!=7 && y!=7 && this.game[x+1][y+1]!=1 && this.game[x+1][y+1]!=4 && this.minas[x+1][y+1]!=1)
                this.leftClick(x+1,y+1);
        }
        console.log('Left click: '+x+':'+y+'->'+status);
        this.$forceUpdate();
      },
      getMinas:function(x,y){
        if(this.game[x][y]==1){
            let minas=this.minas;
            let counter=0;
            if(x!=0 && y!=0 && minas[x-1][y-1])
                counter++;
            if(y!=0 && minas[x][y-1])
                counter++;
            if(x!=7 && y!=0 && minas[x+1][y-1])
                counter++;
            if(x!=0 && minas[x-1][y])
                counter++;
            if(minas[x][y])
                counter++;
            if(x!=7 && minas[x+1][y])
                counter++;
            if(x!=0 && y!=7 && minas[x-1][y+1])
                counter++;
            if(y!=7 && minas[x][y+1])
                counter++;
            if(x!=7 && y!=7 && minas[x+1][y+1])
                counter++;
            return counter;
        }
        return ".";
      },
      endGame:function(){
        for (let x = 0; x < 8; x++) {
            for (let y = 0; y < 8; y++) {
                if(this.minas[x][y]){
                    this.game[x][y]=4;
                }
            }
        }
        window.alert("El juego termino!");
        window.setTimeout(()=>{
            this.$router.push("/endgame/Puntaje:"+this.points);
        },1000);
      },
      getFlags:function(){
        let counter=0;
        for (let x = 0; x < 8; x++) {
            for (let y = 0; y < 8; y++) {
                if(this.game[x][y]==2){
                    counter++;
                }
            }
        }
        return counter;
      }
  },
  mounted(){
      this.start();
  }
}
</script>
<style>
.row{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}
.game{
    background-color:pink; 
    color:black;
    width: 100%;
    height: 100%;
}
.controls{
    display: inline-block;
    border-bottom: 1px solid black;
    background-color: ghostwhite;
    padding-top: 10px;
    padding-bottom: 10px;
}
.indicator{
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}
.platform{
    display: block;
    margin: 30px;
    border: 2px solid black;
    height: 100%;
    position: relative;
}
.box{
    outline: 1px solid black;
    outline-offset: -1px;
    display: inline-block;
    width: 12.5%;
    height: 100%;
    text-align: center;
    background-color: gray;
    background-repeat: no-repeat;
    background-position: center;
    background-size:80% 80%;
}
.box-closed{
    background-color: gray;
}
.box-opened{
    background-color: linen;
}
.box-flag{
    background-image: url(../../assets/flag.png);
}
.box-dude{
    background-image: url(../../assets/interrogation.png);
}
.box-mina{
    background-image: url(../../assets/mina.png);
    background-color: crimson;
}
.counter{
    color:black;
}
.pull-right{
    float: right;
}
</style>