<template>
  <div style="background-color:pink; color:black;">
      <div class="row controls">
          <div></div>
      </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style>
.row{
    position: relative;
    width: 100%;
    display: block;
}
.controls{
    border-bottom: 1px solid antiquewhite;
}
</style>
