<template>
    <div class="options">
        <div class="title"><img src="../assets/buscaminas.png" alt="logo"><b>Buscaminas</b></div>
        <router-link to="/game/easy"><button>Iniciar 8x8</button></router-link><br>
        <router-link to="/game/medium"><button>Iniciar 16x16</button></router-link><br>
        <span>{{ msg }}</span>
    </div>
</template>
<script>
    export default {
        data(){
            return {
                msg:"",
            }
        },
        mounted(){
            if(this.$route.params.msg){
                this.msg=this.$route.params.msg;
            }
        }
    }
</script>
<style>
.options{
    padding-top: 50px;
    text-align: center;
}
.title{
    font-size: 30px;
    color:burlywood;
    margin-bottom: 60px;
}
span{
    color:red;
}
img{
    width: 80px;
}
button{
    margin-bottom: 20px;
    padding: 10px;
    width: 33%;
    background-color:cadetblue;
    color:black;
}
</style>
